@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", system-ui, sans-serif;
  @apply text-gray-500 dark:bg-charcoal-950 dark:text-rose-text;
}
